.more {
    /*border: 1px solid lightgray;*/
    /*padding: 8px 100px;*/
    width: 50%;
    margin: 0 auto;
    border: 1px solid #AF0E22;
}

div.blank-block {
    height: 60px;
}

div.blank-block-m {
    height: 30px;
    width: 100%;
}

.banner {
    width: 100%;
}

ul {
    list-style-type: none;
}

.small-font {
    font-size: 16px;
    color: #999;
}

.font-normal {
    color: #717071;
    font-size: 18px;
    text-align: justify;
    text-indent:2em;
}

.font-normal-mobile {
    color: #717071;
    font-size: 18px;
    text-align: justify;
}

.title {
    margin-bottom: 6px;
    font-weight: bold;
}

a.nav-link {
    color: #717071;
    font-size: 18px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #333;
    background-color: #eee;
}

.nav-pills .nav-item .nav-link.active {
    color: #AF0E22;
    background-color: #fff;
}

.label {
    display:block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dropdown-item {
    color: #717071;
}

li.breadcrumb-item a, a:link, a:visited {
    color: #999;
}

.breadcrumb .active {
    color: #333;
}

.content-title {
    color: #343434;
    font-size: 24px;
    text-indent: 0em;
}

@media (min-width: 1200px) {
    .content-title {
        font-size: 38px;
    }
}

.english-title {
    color: #666;
    font-size: 22px;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration:none;
    color:#333;
}


/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    background-color: #AF0E22;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}

.red.lighten-1 {
    background-color: #fff !important;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    transition: .35s;
    color: #343434;
}

.mb-4, .my-4 {
    margin-bottom: 0.4rem !important;
}

.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    color: #AF0E22;
}

.special-title {
    position: relative;
}

.special-title-right {
    text-align: right;
    position: relative;
}

.float-title-left {
    font-size: 26px;
    font-weight: 600;
    position: absolute;
    left: 70px;
    top: 30px;
}

.float-title-right {
    font-size: 26px;
    font-weight: 600;
    position: absolute;
    right: 160px;
    top: 30px;
}

.special-title .float-title-left span {
    display: inline-block;
    width: 64px;
    height: 5px;
    background-color: #AF0E22;
    position: relative;
    top: -40px;
}

.special-title-right .float-title-right span {
    display: inline-block;
    width: 64px;
    height: 5px;
    background-color: #AF0E22;
    position: relative;
    top: -40px;
    left: -37px;
}

.business-english-title {
    color: #999;
    font-size: 40px;
}

.business-english-title:first-letter {
    font-size: 98px;
    margin-right: 8px;
}

.title-decoration {
    display: inline-block;
    width: 64px;
    height: 2px;
    background-color: #AF0E22;
}

.tite-with-decoration {
    margin-bottom: -8px;
    font-weight: 600;
}

a.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #AF0E22;
}

.swiper-container {
    width: 100%;
    height: 70px;
    margin: 20px auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /*height: 120px;*/
}
.append-buttons {
    text-align: center;
    margin-top: 20px;
}
.append-buttons a {
    display: inline-block;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
}

.swiper-wrapper {
    height: 70px;
    width: 26%!important;
}

/*.swiper-slide img {*/
/*    width: 100%;*/
/*    border-radius: 5px;*/
/*}*/

:root {
    --swiper-theme-color: #AF0E22;
}

.active_nav {
    width: 76px;
    height: 2px;
    background-color: #AF0E22;
}

button.navbar-toggler:focus {
    outline: none !important;
}

.artical-container {
    background-color: #fff;
    padding: 60px 40px;
    border-radius: .28571429rem;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-transform .1s ease;
}

.btn-primary {
    color: #AF0E22;
    background-color: #fff;
    border-color: #AF0E22;
}

.btn-primary:hover {
    color: #fff;
    background-color: #AF0E22;
    border-color: #AF0E22;
}

.grid-back {
    background-color: #e7e7e7;
}

.search-border {
    border: 1px solid #eee;
    padding: 24px;
    margin-top: 62px;
    background-color: #eee;
    border-radius: 5px;
}

.r-shadow-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
}

.r-shadow-wrapper {
    padding: 18px 10px;
    margin: 4px 0;
    transition: all .5s linear;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 101;
}

.r-shadow-wrapper:hover {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, .2);
}

.r-shadow-wrapper .r-shadow-content {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 102;
}

.wrap-img {
    width: 100%;
    /*height: 180px;*/
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.scale-big {
    transition: all 1s;
}

.scale-big:hover {
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

.label-swiper {
    margin-top: 10px;
    color: #666;
}
