.more {
    border: 1px solid lightgray;
    padding: 8px 100px;
    width: 400px;
    margin: 0 auto;
}

div.blank-block {
    height: 60px;
}

.banner {
    width: 100%;
}

ul {
    list-style-type: none;
}

.small-font {
    font-size: 14px;
    color: #999;
}

.font-normal {
    font-size: 18px;
}
